

<div class="container"> 


	<div class="content">



		<div class="nav">
			<ul class="links">
				<li id="search"> Search </li>
				<a href = /listings/new id="new_listing"> List property </a>
		</div>


		<div class="main">


			<h2> all listings </h2>
				<% @listings.each do |l| %>
				<%= image_tag (l.avatars[0].medium.url) %>
				<%= link_to l.name, listing_path(l) %>				<br>

				<br>	


					<% end %>
			</div>



		</div>


	</div>

</div>

<div>
	<% (1..@total_pages).each do |page| %>
	<%= link_to page, controller: "welcome", action: "index", page: page %>&nbsp;
	<% end %>
</div>